* {
    box-sizing: border-box;
}
.layout {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    height: 100vh;
    overflow: hidden;
}
.input {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 80%;
    justify-content: center;
    user-select: none;
}
.running {
    color: limegreen;
}
.btn {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 gray;
    margin-top: 5%;
    padding: 5%;
}
.btn:active {
    transform: translateY(2.5px);
}

.select {
    border-radius: 5px;
    padding: 5%;
}
.card {
    box-shadow: 0 4px 8px 0 gray;
    border-radius: 5px;
    margin-bottom: 10%;
}
.logo {
    height: 2vh;
    width: 2vw;
    margin: auto;
}
